<h2>Are you coming to Encampment?</h2>
<p>Innovation Warehouse - Saturday August 20th 2011 - From 10am</p>
<form id="form_id" name="form_name" action="social.html" method="get" class="huge_button">
	<input type="hidden" name="choice" value="yes" />
	<input type="submit" name="submit" value="Yes I am coming to Encampment" title="Yes I am coming to Encampment" class="huge orange" />
</form>
<form id="form_id" name="form_name" action="notcoming.html" method="get" class="small_button">
	<input type="hidden" name="choice" value="no" />
	<input type="submit" name="submit" value="Nope cancel my ticket!" class="small red" />
</form>