<h2>Thankyou!!</h2>

<% if @attendee.status == 'confirmed' %>
	<p>Your attendance is now <%= @attendee.status %> and feel free to come back to update your details if anything changes!</p>
<% end %>

<% if @attendee.status == 'cancelled' %>
	<p>Your attendance is now <%= @attendee.status %>!</p>
	<p>We hope to see you at a future Geeks of London event</p>
<% end %>