<div class="check_main">
	<div class="check">
		<div class="good"><%= image_tag("check.gif", :class => "icon") %><%= notice %></div>
	</div>
	<!-- <div class="check">
		<div class="bad"><img src="images/x.gif" alt="check" class="icon">You need more training, please <a href="#">try again</a>.</div>
	</div> -->
</div>