<div class="in"> 
	<h2>
		Editing <%= "#{@attendee.first_name} #{@attendee.last_name}" %>
		<span class="header_nav"><%= link_to 'Back', event_path(@attendee.event) %></span>
	</h2> 
</div>

<%= render 'form' %>
