<div class="in forms">
<%=form_tag(onsite_index_path, :method => :post) do %>
	<h2>The Scanner</h2>
    <p>
        <label for="onsite_search">First Name / Attendee ID / Ticket ID</label><br/>
        <%= text_field(:onsite, :search, :size => 100,  :class => "search_box", :style => "margin: 5px 0") %>
		<input type="submit" value="GO!!" class="search_btn" style="margin: 0 0 0 5px; padding: 6px 30px;"><br/>
		<label>Current Event: <%= @event.name %></label>
    </p>
	<hr><br>
	<h2>The Stats</h2>
	<%= render "shared/event_overview" %>

<% end %>
</div>