<ul class="menu">
    <li><a id="scanner-link" href="/checkin/scanner">Launch Scanner</a></li>
    <li><a href="/checkin/attendees">Find Attendee</a></li>
    <li><a href="/checkin/stats">Current Stats</a></li>
</ul>