<!DOCTYPE html>
<html>
    <head>
      <title>Geeks Of London Checkin</title>
      <meta name = "viewport" content = "initial-scale = 1.0">
      <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" rel="stylesheet" type="text/css">
      <%= stylesheet_link_tag  "checkin" %>
    </head>
        <header>
            <h1>Geek CheckIn</h1>
        </header>
        <section>
            <%= yield %>
        </section>
    </body>
</html>
