<!DOCTYPE html>
<html>
    <head>
      <title>Geeks Of London Checkin</title>
      <meta name = "viewport" content = "initial-scale = 1.0">
      <%= stylesheet_link_tag  "checkin" %>
      <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    </head>
        <header>
            <h1>Guest CheckIn <span class="home"><a href='/checkin'>Home</a></span></h1>
        </header>
        <section>
            <%= yield %>
        </section>
        <script type="text/javascript">
            function isAppleDevice(){
                return (
                    (navigator.userAgent.toLowerCase().indexOf("ipad") > -1) ||
                    (navigator.userAgent.toLowerCase().indexOf("iphone") > -1) ||
                    (navigator.userAgent.toLowerCase().indexOf("ipod") > -1)
                );
            }
            
            $(document).ready(function () {
                if (isAppleDevice() == true){
                    $("#scanner-link").attr('href', 'etoken://');
                }
                
                $("tr:odd").addClass("odd");
                $("li:odd").addClass("odd");
            });
            
        </script>
    </body>
</html>
