<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Geeks Of London</title>
	<style type="text/css" media="screen">
/* Global Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

fieldset,img { 
	border:0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}

ol,ul {
	list-style: disc;
	padding-left: 3em;
}

ul#body_list {
        list-style: disc outside;
        padding: 0em 3em 0em 3em;
}

caption,th {
	text-align:left;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
	color: #000;
}

q:before,q:after {
	content:'';
}

abbr,acronym { border:0; }	

/* Begin BarCampLondon Styles */

/* Fonts */
h1,h2,h3,h4 {
	font-family: 'Helvetica Neue', 'Lucida Sans', 'Lucida Grande', helvetica, arial, sans-serif;
	font-weight: bold;
}

h1 {
	font-size: 1.53333333333em;
	line-height: 0.95652173913em;
	margin: 0 0 0.95652173913em;
}

h2 {
	font-size: 1.4em;
	line-height: 1.04761904762em;
	margin: 0 0 1.04761904762em;
}

h3, #header p {
	font-size: 1.26666666667em;
	line-height: 1.15789473684em;
	margin: 0 0 1.15789473684em;
}

h4 {
	font-size: 1.13333333333em;
	line-height: 1.29411764706em;
	margin: 0 0 1.29411764706em;
}

p,ul,blockquote,pre,td,th,label {
	font-size: 1em;
	line-height: 1.46666666667em;
	margin: 0 0 1.46666666667em;
}

p.small {
	font-size: 0.866666666667em;
	line-height: 1.69230769231em;
	margin: 0 0 1.69230769231em;
}

table {
	border-collapse: collapse;
	margin-bottom: 1.46666666667em;
}

strong {
	font-weight: bold;
}

em {
	/* font-style: italic; */

}

/* Layout */
body {
	background-color: #eee;
	font-family: 'Lucida Sans', 'Lucida Grande', arial, helvetica, sans-serif;
	font-size: 15px;
	line-height: 1.46666666667em;
	margin: 0;
	padding: 0;
}

#wrapper {
	background-color: #fff;
	margin: 0 auto;
	/* overflow: auto; */
	padding: 10px;
	width: 940px;
}

#header {
	margin-bottom: 0.5em;
}

	#header h1 {
		margin-bottom: 0.5em;
		padding-top: 20px;
	}

	#header img {
		border: 0;
		float: left;
		height: 150px;
		margin-right: 20px;
		width: 460px;
	}

#content {
	border-top: 4px #639 solid;
	float: left;
	margin-right: 20px;
	padding: 10px 0;
	width: 620px;
}

	#content ul {
		list-style-type: square;
		margin-left: 2em;
	}

#secondary {
	float: left;
	width: 300px;
}

	#secondary h2 {
		border-top: 4px #639 solid;
		padding-top: 10px;
	}

#footer {
	border-top: 4px #639 solid;
	clear: left;
	margin: 0;
	padding-top: 20px;
	text-align: center;
}

	#footer li {
		display: inline;
		margin-right: 10px;
	}

	#footer li a {
		color: #639;
		font-weight: bold;
		padding: 5px;
	}
	
/* Posts */
h1.storytitle a {
	word-wrap: break-word;
	color: black;
	text-decoration: none;
	color: #DF5D1B;
}

h1.storytitle a:hover {
	color: #DF5D1B;
}	

.post {
	border-bottom: 1px #eee solid;
	padding-bottom: 2em;
}

.byline {
	font-size: 0.866666666667em;
	/*font-style: italic;*/
	line-height: 1.69230769231em;
	margin-bottom: 1.69230769231em;
}

.post-content ul {
	list-style-type: disc;
	margin-left: 1em;
}

/* Comments */
.comment {
	border-top: 1px #ccc solid;
	margin: 0;
	padding: 10px;
}

.avatar {
	border: 1px #000 solid;
	float: right;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 5px;
}

.commentlist {
	padding: 0;
	text-align: justify;
}

	.commentlist p {
		margin: 10px 5px 10px 0;
	}

	.commentlist li {
		list-style: none;
		margin: 15px 0 10px;
		padding: 5px 5px 10px 10px;
	}

		.commentlist li ul li {
			margin-left: 10px;
			margin-right: -5px;
		}

#commentform {
	
}

	#commentform textarea {
		width: 600px;
	}

	#commentform p {
		margin: 5px 0;
	}

.nocomments {
	margin: 0;
	padding: 0;
	text-align: center;
}

.commentmetadata {
	display: block;
	margin: 0;
}

/* List of Sponsors */
.sponsor li a {
	width: 300px;
	height: 70px;
	margin-bottom: 5px;
}

 .sponsor li a img {
	border: 1px #ccc solid;
 } 

.silver img {
	width: 140px;
	height: 50px;
}

/* Twitter */
.twitter-item span {
font-weight:bold;
}

/* Wordpress Miscellaneous Styles */
.children {
	padding:0;
}

.alt {
	margin: 0;
	padding: 10px;
}

.wp-caption {
	border:  1px #ccc solid;
	padding: 0.5em;
	font-size: 0.866666666667em;
	margin: 0;
	text-align: center;
	background-color: #eee;
}

	.wp-caption img {
		margin: 0.25em 0 0.5em 0;
	}

	.wp-caption-text {
		padding: 0;
		margin: 0;
		color: #333;
	}

.alignright {
	float: right;
	margin: 0 0 0.5em 1em;
}

.alignleft {
	float: left;
	margin: 0 1em 0.5em 0;
}

img.aligncenter,a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

    </style>

	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://eight.barcamplondon.org/feed/" />
	<link rel="alternate" type="text/xml" title="RSS .92" href="http://eight.barcamplondon.org/feed/rss/" />

	<link rel="alternate" type="application/atom+xml" title="Atom 1.0" href="http://eight.barcamplondon.org/feed/atom/" />

</head>
<body>
  <div id="wrapper">
  <div style="margin:2em">
<div>
<%= yield %>
</div>
  </div></div>
</body>
</html>